div
  table.table
    tr 
      th House #
      td(data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]") {{i}}
    tr
      th Constellation
      td(data-ng-repeat="c in constellations") {{c}}
    tr 
      th Planets
      td(data-ng-repeat="p in planets track by $index") {{p}}