div
  table.table
    tr 
      th House #
      th Constellation
      th Planets
    tr(data-ng-repeat="row in data.output.chart")
      td {{row.house}}
      td {{row.constellation}}
      td {{row.planets}}